<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="section-title">Featured Products</h3>
        </div>
    </div>
    <div class="row">
        <!-- featured products slider -->
        <div id="shop-products" class="owl-carousel owl-theme dark-pagination owl-no-pagination owl-prev-next-simple" style="opacity: 1; display: block;">
            <!-- shop item -->
            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4728px; left: 0px; display: block; transform: translate3d(0px, 0px, 0px); transition: all 0ms ease;"><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product12.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Richard Nicoll</a></span>
                    <span class="price black-text">$680</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product13.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Roland Mouret</a></span>
                    <span class="price black-text">$980</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product14.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Preen Line</a></span>
                    <span class="price black-text">$750</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product15.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Balmain</a></span>
                    <span class="price black-text">$350</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product16.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Dolce &amp; Gabbana</a></span>
                    <span class="price black-text">$700</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 394px;"><div class="item">
                <div class="home-product text-center position-relative overflow-hidden">
                    <a href="shop-single-product.html"><img src="images/product4.jpg" alt=""></a>
                    <span class="product-name text-uppercase"><a href="shop-single-product.html">Valentino</a></span>
                    <span class="price black-text">$370</span>
                    <div class="quick-buy">
                        <div class="product-share">
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                            <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div></div></div></div>
            <!-- end shop item -->
            <!-- shop item -->
            
            <!-- end shop item -->
            <!-- shop item -->
            
            <!-- end shop item -->
            <!-- shop item -->
            
            <!-- end shop item -->
            <!-- shop item -->
            
            <!-- end shop item -->
            <!-- shop item -->
            
            <!-- end shop item -->
        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
        <!-- end featured products slider -->
    </div>
</div>