<footer>
  <div class="container footer-middle">
    <div class="row">
      <!-- first column -->
      <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
        <!-- headline -->
        <h5>FRACCARO SPUMADORO</h5>
        <!-- end headline -->
        <!-- text -->
        <p class="footer-text">Semplicità, genuinità e condivisione: da questi valori, che si ritrovano nelle relazioni affettive e famigliari,
          nascono i nostri prodotti che hanno il profumo dell'infanzia e il sapore dell'autenticità.</p>
        <!-- end text -->
      </div>
      <!-- end first column -->

      <!-- second column -->
      <div class="col-md-2 col-sm-2 col-xs-4 footer-link2">
      <!-- <div class="col-md-2 col-sm-2 col-xs-4 footer-link2 col-md-offset-3"> -->
        <!-- headline -->
        <h5>INFORMAZIONI UTILI</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="about-us.html">Informativa e privacy</a></li>
          <li><a href="about-us.html">Metodi di pagamento</a></li>
          <li><a href="about-us.html">Condizioni di vendita</a></li>
          <li><a href="careers.html">Metodi di spedizione</a></li>
        </ul>
        <!-- end link -->
      </div>
      <!-- end second column -->

      <!-- third column -->
      <div class="col-md-2 col-sm-2 col-xs-4 footer-link3">
        <!-- headline -->
        <h5>ASSISTENZA</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="about-us.html">FAQ</a></li>
          <li><a href="about-us.html">Contattaci</a></li>
          <li><a href="about-us.html">Assistenza clienti</a></li>
        </ul>
        <!-- end link -->
      </div>
      <!-- end third column -->

      <!-- fourth column -->
      <div class="col-md-2 col-sm-2 col-xs-4 footer-link4">
        <!-- headline -->
        <h5>IL MIO ACCOUNT</h5>
        <!-- end headline -->
        <!-- link -->
        <ul>
          <li><a href="about-us.html">Registrazione</a></li>
          <li><a href="about-us.html">Carrello</a></li>
          <li><a href="about-us.html">I miei ordini</a></li>
        </ul>
        <!-- end link -->
      </div>
      <!-- end fourth column -->

      <!-- fifth column -->
      <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
        <!-- headline -->
        <h5>NEWSLETTER</h5>
        <!-- end headline -->
        <!-- newsletter -->
        <div class="shop-newsletter-main text-center pull-left">
          <input type="text" name="name" placeholder="Enter Your Email" class="no-margin">
          <a class="btn-small-black-background btn btn-small margin-five no-margin-right no-margin-bottom" href="#">Subscribe Now!</a>
        </div>
        <!-- newsletter -->
      </div>
      <!-- end fifth column -->
    </div>

    <div class="wide-separator-line bg-mid-brown no-margin-lr margin-three no-margin-bottom"></div>

    <!-- social -->
    <div class="row margin-four no-margin-bottom">
      <div class="col-md-2 col-md-offset-5 footer-social text-right sm-text-center">
        <!-- social media link -->
        <a target="_blank" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a target="_blank" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        <!-- end social media link -->
      </div>
    </div>
    <!-- end social -->
  </div>

  <!-- footer bootom -->
  <div class="container-fluid bg-dark-gray footer-bottom">
    <div class="container">
      <div class="row margin-three">
        <!-- copyright -->
        <div class="col-md-12 col-sm-12 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one text-center">&copy; Fraccaro Spumadoro S.p.A.<br />Via Circonvallazione Ovest, 25/27 Castelfranco Venero (TV) Tel. +39 0423.491421 - Fax +39 0423.720530 P.O. 01162650269 &copy; Fraccaro Spumadoro S.p.A. spumadoro@fraccarospumadoro.it<br />Design by: <a target="_blank" href="http://www.goovercreative.it/">goovercreative.it</a></div>
        <!-- end copyright -->
        <!-- logo -->
        <!-- <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
          <a href="index.html"><img src="images/logo-light-gray.png" alt=""></a>
        </div> -->
        <!-- end logo -->
      </div>
    </div>
  </div>
  <!-- footer bottom -->

  <!-- MAGO TO FIX -->
  <!-- scroll to top -->
  <a href="javascript:;" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-up"></i></a>
  <!-- scroll to top End... -->
</footer>