<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav bg-white nav-border-bottom static-sticky" role="navigation">
  <div class="container">
    <div class="row">
      
      <!-- over nav-bar -->
      <div class="row margin-four no-margin-bottom visible-lg visible-md no-margin-top">
        <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
          <ul class="list-inline footer-link text-uppercase">
            <li>
              <a routerLink="/orders">
                <h5>i miei ordini</h5>
              </a>
            </li>
            <li>
              <a routerLink="/account">
                <h5>il mio account</h5>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
          <ul class="list-inline footer-link text-uppercase pull-right">
            <li>
              <a routerLink="/orders">
                <h5>i miei ordini 2</h5>
              </a>
            </li>
            <li>
              <a routerLink="/account">
                <h5>il mio account 2</h5>
              </a>
            </li>
            <li class="search-cart-header">
              <div class="top-cart">
                <!-- nav shopping bag -->
                <a class="shopping-cart no-margin-bottom">
                  <i class="fa fa-shopping-cart" style="float: left;"></i>
                  <div class="subtitle" style="float: right;">(1) Items</div>
                </a>
                <!-- end nav shopping bag -->

                <!-- shopping bag content -->
                <div class="cart-content" style="opacity: 0; visibility: hidden;">
                  <ul class="cart-list">
                    <li>
                      <a title="Remove item" class="remove" href="#">×</a>
                      <a href="#">
                        <img width="90" height="90" alt="" src="../../assets/images/shop-cart.jpg">Leather Craft
                      </a>
                      <span class="quantity">1 × <span class="amount">$160</span></span>
                      <a href="#">Edit</a>
                    </li>
                  </ul>
                  <p class="total">Subtotal: <span class="amount">$160</span></p>
                  <p class="buttons">
                    <a href="shop-cart.html" class="btn btn-very-small-white no-margin-bottom margin-seven pull-left no-margin-lr">View Cart</a>
                    <a href="shop-checkout.html" class="btn btn-very-small-white no-margin-bottom margin-seven no-margin-right pull-right">Checkout</a>
                  </p>
                </div>
                <!-- end shopping bag content -->
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- over nav-bar -->

      <!-- separator -->
      <div class="visible-lg visible-md wide-separator-line bg-mid-brown no-margin-lr margin-three no-margin-bottom no-margin-top"></div>
      <!-- end separator -->

      <!-- logo -->
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="logo-light" routerLink="/">
              <img alt="Fraccaro Spumadoro S.p.A." src="../../../assets/images/fraccaro-logo.png" class="logo" />
            </a>
      </div>
      <!-- end logo -->

      <!-- hamburger menu toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
      </div>
      <!-- end hamburger menu toggle -->

      <!-- navigation bar -->
      <div class="col-md-9 text-right">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/" class="inner-link">Home</a></li>
            <li><a routerLink="/company" class="inner-link">Azienda</a></li>
            <li><a routerLink="/products" class="inner-link">Prodotti</a></li>
            <li><a routerLink="/news" class="inner-link">News</a></li>
            <li><a routerLink="/contacts" class="inner-link">Contatti</a></li>
          </ul>
        </div>
      </div>
      <!-- end navigation bar -->
    </div>
  </div>
</nav>
<!-- end navigation panel -->