<!-- carousel -->
<app-carousel [carouselContent]="myCarousel"></app-carousel>

<!-- first section rows -->
<app-content-row *ngFor="let row of homePageRows1" [rowContent]="row"></app-content-row>

<!-- second section rows -->
<app-content-row *ngFor="let row of homePageRows2" [rowContent]="row"></app-content-row>

<!-- products preview -->
<app-products-preview></app-products-preview>







<!-- over products -->
<section id="portfolio" class="grid-wrap work-4col margin-top-section no-margin-top no-padding-bottom wow fadeIn animated"
  style="visibility: visible; animation-name: fadeIn;">
  <div class="container-fluid">
    <div class="row no-padding">
      <div class="col-md-12 text-center">
        <div class="text-center">
          <!-- filter navigation -->
          <ul class="portfolio-filter nav nav-tabs">
            <li class="nav active"><a routerLink="/">TUTTI I PRODOTTI</a></li>
            <li class="nav"><a routerLink="/">IN PRIMO PIANO</a></li>
            <li class="nav"><a routerLink="/">TUTTO L'ANNO</a></li>
          </ul>
          <!-- end filter navigation -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end over products -->

<!-- products -->
<section>
  <div class="container">
    <div class="row">
      <!-- shop item -->
      <div class="col-md-4 col-sm-4">
        <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
          <a href="shop-single-product.html"><img src="../../assets/images/dummy/product-1.png" alt=""></a>
          <span class="product-name text-uppercase"><a href="shop-single-product.html">PANETTONE CLASSICO</a></span>
          <span class="price black-text"><del>€14,99</del>€12,99</span>
          <span class="onsale">Sconto</span>
          <div class="quick-buy">
            <div class="product-share">
              <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end shop item -->
      <!-- shop item -->
      <div class="col-md-4 col-sm-4">
        <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
          <a href="shop-single-product.html"><img src="../../assets/images/dummy/product-2.png" alt=""></a>
          <span class="product-name text-uppercase"><a href="shop-single-product.html">PANETTONE PERE E CIOCCOLATO</a></span>
          <span class="price black-text">€14,99</span>
          <div class="quick-buy">
            <div class="product-share">
              <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end shop item -->
      <!-- shop item -->
      <div class="col-md-4 col-sm-4">
        <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
          <a href="shop-single-product.html"><img src="../../assets/images/dummy/product-3.png" alt=""></a>
          <span class="product-name text-uppercase"><a href="shop-single-product.html">PANETTONE PISTACCHIO</a></span>
          <span class="price black-text">€14,99</span>
          <div class="quick-buy">
            <div class="product-share">
              <a href="shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- end shop item -->
    </div>
  </div>
</section>
<!-- end products -->

<!-- over news -->
<section id="portfolio" class="grid-wrap work-4col margin-top-section no-margin-top no-padding-bottom wow fadeIn animated"
  style="visibility: visible; animation-name: fadeIn;">
  <div class="container-fluid">
    <div class="row no-padding">
      <div class="col-md-12 text-center">
        <div class="text-center">
          <!-- filter navigation -->
          <ul class="portfolio-filter nav nav-tabs">
            <li class="nav active"><a routerLink="/">ULTIME NEWS</a></li>
            <li class="nav"><a routerLink="/">RASSEGNA STAMPA</a></li>
            <li class="nav"><a routerLink="/">CONSIGLI</a></li>
          </ul>
          <!-- end filter navigation -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end over products -->

<!-- news -->
<section>
  <div class="container">
    <div class="row">
      <!-- news item -->
      <div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven animated" data-wow-duration="600ms"
        style="visibility: visible; animation-duration: 600ms; animation-name: fadeIn;">
        <div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="../../assets/images/dummy/news-1.png" alt=""></a></div>
        <div class="blog-details">
          <div class="blog-date">Posted by <a href="blog-masonry-2columns.html">Jon Doe</a> | 01 Gennaio 2017</div>
          <div class="blog-title"><a href="blog-single-right-sidebar.html">I dolci di stagione</a></div>
          <div class="separator-line bg-black no-margin-lr no-margin-bottom"></div>
        </div>
      </div>
      <!-- end news item -->
      <!-- news item -->
      <div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn xs-margin-bottom-seven animated" data-wow-duration="600ms"
        style="visibility: visible; animation-duration: 600ms; animation-name: fadeIn;">
        <div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="../../assets/images/dummy/news-2.png" alt=""></a></div>
        <div class="blog-details">
          <div class="blog-date">Posted by <a href="blog-masonry-2columns.html">Jon Doe</a> | 01 Gennaio 2017</div>
          <div class="blog-title"><a href="blog-single-right-sidebar.html">Inaugurato il nuovo caffè!</a></div>
          <div class="separator-line bg-black no-margin-lr no-margin-bottom"></div>
        </div>
      </div>
      <!-- end news item -->
      <!-- news item -->
      <div class="col-md-4 col-sm-4 col-xs-12 blog-listing no-margin-bottom wow fadeIn animated" data-wow-duration="600ms" style="visibility: visible; animation-duration: 600ms; animation-name: fadeIn;">
        <div class="blog-image"><a href="blog-single-right-sidebar.html"><img src="../../assets/images/dummy/news-3.png" alt=""></a></div>
        <div class="blog-details">
          <div class="blog-date">Posted by <a href="blog-masonry-2columns.html">Jon Doe</a> | 01 Gennaio 2017</div>
          <div class="blog-title"><a href="blog-single-right-sidebar.html">Il primo panettone biologico</a></div>
          <div class="separator-line bg-black no-margin-lr no-margin-bottom"></div>
        </div>
      </div>
      <!-- end news item -->
    </div>
  </div>
</section>
<!-- end news -->

<!-- worked with -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="section-title">Collaborano con noi</h3>
      </div>
    </div>
    <div class="row">
      <!-- brand logo slider -->
      <div id="owl-demo-brand" class="owl-carousel owl-theme dark-pagination owl-no-pagination owl-prev-next-simple" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 7104px; left: 0px; display: block; transform: translate3d(-296px, 0px, 0px); transition: all 200ms ease;">
            <div class="owl-item" style="width: 296px;">
              <div class="item"><a href="shop-with-sidebar.html"><img src="../../assets/images/dummy/collabora-1.png" alt=""></a></div>
            </div>
            <div class="owl-item" style="width: 296px;">
              <div class="item"><a href="shop-with-sidebar.html"><img src="../../assets/images/dummy/collabora-2.png" alt=""></a></div>
            </div>
            <div class="owl-item" style="width: 296px;">
              <div class="item"><a href="shop-with-sidebar.html"><img src="../../assets/images/dummy/collabora-3.png" alt=""></a></div>
            </div>
            <div class="owl-item" style="width: 296px;">
              <div class="item"><a href="shop-with-sidebar.html"><img src="../../assets/images/dummy/collabora-4.png" alt=""></a></div>
            </div>
            <div class="owl-item" style="width: 296px;">
              <div class="item"><a href="shop-with-sidebar.html"><img src="../../assets/images/dummy/collabora-5.png" alt=""></a></div>
            </div>
          </div>
        </div>
        <div class="owl-controls clickable">
          <div class="owl-pagination">
            <div class="owl-page active"><span class=""></span></div>
            <div class="owl-page"><span class=""></span></div>
            <div class="owl-page"><span class=""></span></div>
          </div>
          <div class="owl-buttons">
            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
          </div>
        </div>
      </div>
      <!-- end brand logo slider -->
    </div>
  </div>
</section>
<!-- end worker with -->