<!-- slider section -->
<section id="slider" class="no-margin-bottom no-padding-bottom">
    <div id="owl-demo" class="owl-carousel owl-theme light-pagination dark-pagination-without-next-prev-arrow">
      <div class="item owl-bg-img"
      *ngFor="let carousel of carouselContent"
      [ngStyle]="{'background-image': 'url(' + carousel.image + ')'}">
        <div class="slider-overlay bg-slider"></div>
        <div class="container full-screen position-relative">
          <div class="slider-typography">
            <div class="slider-text-middle-main">
              <div class="slider-text-middle">
                <span class="owl-subtitle white-text xs-margin-bottom-four">We believe hard work</span>
                <span class="owl-title-big white-text">We believe in design, strategy and technology</span><br>
                <a href="#about" class="btn-small-white btn margin-six">Go Innovation!</a><a href="#about" class="btn-small-white btn margin-six">Go Emotions!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>