<!-- type 1 -->
<div class="container padding-two" *ngIf="rowContent.type === 1">
  <div class="row display-table margin-one">
    <div class="col-md-6 col-sm-7 display-cell">
      <img src="{{ rowContent.image }}" class="xc-img-full img-responsive center-block" />
    </div>
    <div class="col-md-6 col-sm-7 text-center display-cell">
      <div class="row">
        <img src="{{ rowContent.titleImage }}" class="xc-img-full" />
      </div>
      <div class="row">
        <img src="{{ rowContent.separator }}" class="xc-img-full" />
      </div>
      <div class="row">
        <span class="text-med">{{ rowContent.text }}</span>
      </div>
      <div class="row">
        <a class="highlight-button btn btn-medium button xs-margin-bottom-five xs-no-margin-right" routerLink="{{ rowContent.link }}">SCOPRI</a>
      </div>
    </div>
  </div>
</div>
<!-- end type 1 -->

<!-- type 2 -->
<div class="container padding-two" *ngIf="rowContent.type === 2">
  <div class="row display-table margin-one">
    <div class="col-md-6 col-sm-7 text-center display-cell">
      <div class="row">
        <img src="{{ rowContent.titleImage }}" class="xc-img-full" />
      </div>
      <div class="row">
        <img src="{{ rowContent.separator }}" class="xc-img-full" />
      </div>
      <div class="row">
        <span class="text-med">{{ rowContent.text }}</span>
      </div>
      <div class="row">
        <a class="highlight-button btn btn-medium button xs-margin-bottom-five xs-no-margin-right" routerLink="{{ rowContent.link }}">SCOPRI</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-7 display-cell">
      <img src="{{ rowContent.image }}" class="xc-img-full img-responsive center-block" />
    </div>
  </div>
</div>
<!-- end type 2 -->

<!-- type 3 -->
<div *ngIf="rowContent.type === 3" class="cover-background padding-three" [style.background-image]="'url(' + rowContent.background + ')'">
  <!-- decomment to enable opacity -->
  <!-- <div class="opacity-light bg-dark-gray"></div> -->
  <div class="row display-table">
    <div class="col-md-8 col-md-offset-4 display-cell">
      <div class="position-relative">
        <div class="row">
          <div class="col-md-7 col-sm-11 center-col text-center">
            <p class="title-large white-text text-uppercase letter-spacing-2"><strong>{{ rowContent.title }}</strong></p>
            <p></p>
            <p class="text-large white-text margin-five no-margin-bottom italic">{{ rowContent.text }}</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 display-cell">
      <img src="{{ rowContent.image }}" class="xs-img-full" alt="">
    </div>
  </div>
</div>
<!-- end type 3 -->